<!-- SortOption -->
<div>
  <h5>並び替え</h5>
  <ul>
  <% Rustynail.config.sort_option_converter.each do | column, _hash | %>
    <% _hash.keys.each do | direction | %>
      <li><%= link_to "#{ column } #{ direction }", sort_result_path( column, direction, filter ) %></li>
    <% end %>
  <% end %>
  </ul>
</div>
<!-- /SortOption -->


<!-- FacetOption -->
<% options.each do | column, opt_hash | %>
<div>
  <h5><%= column_name_label( column ) %>で絞り込む</h5>
  <ul>
    <%
      cnt = 0
      opt_hash.each do | opt_name, count |
        cnt += 1
        is_selected = result.selected_option?( column, opt_name )
    %>
      <li <%= "class=selected_option" if is_selected %> >
        <%= link_to "#{ opt_name_label( column, opt_name ) } #{ number_with_delimiter( count, delimiter: "," ) }",  facet_search_path( column, opt_name, filter ) %>
        <% if is_selected %>
          <%= link_to "戻る", back_search_path( column, filter ) %>
        <% end %>
      </li>
      <% break if facet_max?( cnt ) %>
    <% end %>
  </ul>
  <% if facet_max?( cnt ) && opt_hash.keys.length > cnt %>
    <%= link_to "#{ column_name_label( column )}を全て見る", "/#{column}s" %>
  <% end %>
</div>
<% end %>
<!-- /FacetOption -->
